dist/
results/
playwright-report/
allure/
src/storage-state
node_modules/
.npm
.env
.vs
.vscode/symbols.json
.DS_Store
.idea
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth
.vscode
